<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_link_tags('global') }}
        {{ encore_entry_link_tags('article') }}
        {{ encore_entry_link_tags('preview') }}
        {{ encore_entry_link_tags('profile') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        <header class="header">
            <div class="header-wrapper">
                <div class="menu-icon"></div>
                <h1>Winsight Assessment</h1>
                <nav id="menu" class="menu" style="display: none;">
                    <ul>
                        {% include 'components/menu.html.twig' %}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
